body {
    background-color: #B0A7A7;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
}

label {
    font-family: 'Montserrat', sans-serif;
}

.cuestionario {
    border-top: 5px dashed black;
    text-align: center;
    padding-top: 25px;
}

input {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}

select {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: beige;
}

button:active {
    transform: scale(0.95)
}