<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>Quiz cantantes</title>
</head>

<body>
    <h1>¡Bienvenid@ al juego!</h1>
    <h2> Escucharás un trozo de una canción del cantante que hayas elegido, y tendrás que escribir el título. </h2>
    <h2> Después de cada canción, podrás elegir si cambiar de artista o seguir con el mismo. </h2>
    <div class="cuestionario">
        <form action="/cargar" method="POST">
            <label for="cantante"> Elige tu cantante:</label>
            <select id="cantante" name="cantante_elegido">
                {% if seleccion %}
                <option value="{{ seleccion }}">{{ seleccion }}</option>
                {% endif %}
                {% for cantante in cantantes %}
                {% if cantante != seleccion %}
                <option value="{{ cantante }}">{{ cantante }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button type="submit">Cargar canción</button>
        </form>
        <br> <br>
        <audio src="{{ preview }}" controls> </audio>
        <br> <br>
        <form action="/comprobar" method="POST">
            <label for="respuesta">¿Qué canción es?</label>
            <input type="text" id="respuesta" name="respuesta" placeholder="Título" required>
            <button type="submit">Responder</button>
        </form>
    </div>
    {% if mensaje %}
    <p id="mensaje_respuesta"> {{ mensaje }} </p>
    {% endif %}
</body>

</html>