<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🎵</text></svg>">
    <title>Quiz cantantes</title>
</head>

<body>
    <h1>¡Bienvenid@ al juego!</h1>
    <h2> Escucharás un trozo de una canción del cantante que hayas elegido, y tendrás que escribir el título. </h2>
    <h2> Después de cada canción, podrás elegir si cambiar de artista o seguir con el mismo. </h2>
    <div class="tarjeta">
        <form action="/cargar" method="POST">
            <label for="cantante"> Elige tu cantante:</label>
            <select id="cantante" name="cantante_elegido">
                {% if seleccion %}
                <option value="{{ seleccion }}">{{ seleccion }}</option>
                {% endif %}
                {% for cantante in cantantes %}
                {% if cantante != seleccion %}
                <option value="{{ cantante }}">{{ cantante }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button type="submit">Cargar canción</button>
        </form>

        <audio src="{{ preview }}" controls> </audio>

        <form action="/comprobar" method="POST">
            <label for="respuesta">¿Qué canción es?</label>
            <input type="text" id="respuesta" name="respuesta" placeholder="Título" required>
            <button type="submit">Responder</button>
        </form>

        {% if mensaje %}
        <p id="mensaje_respuesta" class="{% if 'Acertaste' in mensaje %}acierto{% else %}fallo{% endif %}"> {{ mensaje }} </p>
        {% endif %}
        {% if porcentaje %}
        <p id="porcentaje_aciertos"> Porcentaje de aciertos: {{ porcentaje }}%</p>
        {% endif %}
    </div>
</body>

</html>
