<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>Quiz cantantes</title>
</head>

<body>
    <h1>¡Bienvenid@ al quiz!</h1>
    <h2> Escucharás un trozo de una canción del cantante que hayas elegido, y tendrás que escribir el título. </h2>
    <h2> Después de cada canción, podrás elegir si cambiar de cantante o seguir con el mismo. </h2>
    <label for="cantante">Elige tu cantante:</label>
    <select id="cantante" name="cantante_elegido">
        <option value="raul_clyde">Raul Clyde</option>
    </select>
    <audio src="audio.mp3" controls> </audio>
    <form action="nosequeponeraqui" method="POST">
        <label for="respuesta">¿Qué canción es?:</label>
        <input type="text" id="respuesta" name="respuesta" placeholder="Respuesta" required>

        <button type="submit">Enviar</button>
    </form>
    <p id="mensaje_respuesta"> Pondremos algo significativo aquí </p>
</body>

</html>